* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Arial';
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.title {
  font-size: 18px;
  line-height: 1.18;
  padding: 22px 15px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}

.sub-title {
  font-size: 16px;
  line-height: 1.18;
  padding: 22px 15px;
  background: #171717;
  text-align: left;
  display: block;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background: #222;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container ul {
  display: flex;
}

header .container ul li {
  padding: 10px 50px;
}

.logo {
  background: url("https://www.francetvinfo.fr/skin/dist/www/img/externe/metanav/metanav-spritesmith-2x-7d9493f4a0.png");
  background-size: 150px 77px;
  background-position: 16% 66%;
  width: 120px;
}

.account a {
  font-size: 11px;
}

.account li {
  padding: 10px 20px !important;
}

.menu {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  display: flex;
  height: 70px;
}

.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .container .burger {
  display: flex;
  align-items: center;
}

.menu .container .burger button {
  padding: 8px 6px 6px;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu .container .burger .logo2 {
  background: url("https://sport.francetvinfo.fr//snp-assets/images/logo-ftvsport-lg.svg");
  width: 124px;
  height: 19px;
  border: 0;
  margin-left: 20px;
}

.menu .container .buttons {
  display: flex;
}

.menu .container .buttons li {
  background: #23230f;
  border-radius: 15px;
  padding: 8px 10px;
  margin-right: 10px;
  display: flex;
}

.menu .container .buttons li a {
  font-size: 12px;
}


.btn_red {
  background: #eb0032 !important;
  color: white !important;
}

.w-80 {
  width: 70%;
}

.w-20 {
  width: 30%;
  margin-left: 40px;
}

.breadcrumb a {
  padding: 74px 17px 32px 17px;
  font-size: 14px;
  color: #525252;
}

.container .player {
  background: #171717;
}

.btns a {
  padding: 20px;
  border: 1px solid black;
}

.container .player .playerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container .player div .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  display: none;
  flex-wrap: wrap;
}

.container .player div .active {
  display: flex !important;
}

.container .player div .mask .item {
  position: relative;
  width: 33%;
}

.container .player div .mask .item span {
  position: absolute;
  width: 100%;
  height: 132px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .player div .mask video {
  width: 100%;
  height: auto;
  padding: 10px;
  position: relative;
}

.container .player div video {
  width: 100%;
}

.container .player p {
  padding: 80px 60px 50px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  font-size: 19px;
  line-height: 1.5;
  background: white;
}

.container .articles {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.container .articles .title {
  color: #171717;
  font-size: 26px;
}

.container .articles .bloc {
  width: 80%;
  margin: 0 auto;
}

.container .articles .bloc img {
  width: 100%;
  object-fit: cover;
}

.container .articles .bloc span {
  font-size: 22px;
  line-height: 1.2;
  color: #171717;
  padding: 15px 0 30px;
  display: block;
}

@media only screen and (min-width: 0px) and (max-width: 870px) {
  .main {
    flex-direction: column;
  }

  .w-20, .w-80 {
    width: 100%;
    margin-left: 0;
  }

  .container .player p {
    padding: 40px;
  }
}
